extends layout

include _includes/sharedHTMLfunctions

//mixin outputRating(rating)
//  - for (var i=1; i<=rating; i++)
//    span.glyphicon.glyphicon-star
//  - for (i=rating; i<5; i++)
//    span.glyphicon.glyphicon-star-empty




block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
          small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        each note in storednotes

          .col-xs-12.list-group-item
            h4
              a(href="/location")= note.title
              small &nbsp;
                //+outputRating(note.rating)  //star ratings
                // - for (var i=1; i<=note.rating; i++)
                //   span.glyphicon.glyphicon-star
                // - for (i=note.rating; i<5; i++)
                //   span.glyphicon.glyphicon-star-empty

              span.badge.pull-right.badge-default= note.views
            p.preview= note.text.substr(1,100) +'...'
            //p.snippit= note.preview.substr(1,10)+'...'
            p
              each tag in note.tags
                span.label.label-warning=tag
                &nbsp;


    //
    //
    //      .col-xs-12.list-group-item
    //      h4
    //        a(href="/location") Starcups
    //        small &nbsp;
    //          span.glyphicon.glyphicon-star
    //          span.glyphicon.glyphicon-star
    //          span.glyphicon.glyphicon-star
    //          span.glyphicon.glyphicon-star-empty
    //          span.glyphicon.glyphicon-star-empty
    //        span.badge.pull-right.badge-default 100m
    //      p.address 125 High Street, Reading, RG6 1PS
    //      p
    //        span.label.label-warning Hot drinks
    //        | &nbsp;
    //        span.label.label-warning Food
    //        | &nbsp;
    //        span.label.label-warning Premium wifi
    //        | &nbsp;
    //
    //
    //    .col-xs-12.list-group-item
    //      h4
    //        a(href="/location") Starcups
    //        small &nbsp;
    //          span.glyphicon.glyphicon-star
    //          span.glyphicon.glyphicon-star
    //          span.glyphicon.glyphicon-star
    //          span.glyphicon.glyphicon-star-empty
    //          span.glyphicon.glyphicon-star-empty
    //        span.badge.pull-right.badge-default 100m
    //      p.address 125 High Street, Reading, RG6 1PS
    //      p
    //        span.label.label-warning Hot drinks
    //        | &nbsp;
    //        span.label.label-warning Food
    //        | &nbsp;
    //        span.label.label-warning Premium wifi
    //        | &nbsp;
    //
    //
    //    .col-xs-12.list-group-item
    //      h4
    //        a(href="/location") Starcups
    //        small &nbsp;
    //          span.glyphicon.glyphicon-star
    //          span.glyphicon.glyphicon-star
    //          span.glyphicon.glyphicon-star
    //          span.glyphicon.glyphicon-star-empty
    //          span.glyphicon.glyphicon-star-empty
    //        span.badge.pull-right.badge-default 100m
    //      p.address 125 High Street, Reading, RG6 1PS
    //      p
    //        span.label.label-warning Hot drinks
    //        | &nbsp;
    //        span.label.label-warning Food
    //        | &nbsp;
    //        span.label.label-warning Premium wifi
    //        | &nbsp;
    //
    .col-xs-12.col-sm-4
      p.lead= sidebar

    //
